{% extends 'base.html.twig' %}
{% block title %}About Me{% endblock %}
{% block body %}


<div class="container container-about">
    <h1 class="text-center">Carta de Presentación</h1>
    <p>
        Estimado/a [Nombre del reclutador],
        <br><br>
        Mi nombre es Ángel Olivares y me dirijo a usted con entusiasmo para presentarle mi candidatura para el puesto [nombre del puesto] en su empresa. Poseo un sólido background académico en desarrollo de aplicaciones web, habiendo completado exitosamente un módulo superior en Desarrollo de Aplicaciones Web.
        <br><br>
        Durante mi formación académica, he adquirido habilidades fundamentales en programación, diseño web, bases de datos y desarrollo de software, las cuales estoy deseando aplicar en un entorno profesional. Soy una persona comprometida con el aprendizaje continuo y con un enfoque meticuloso hacia la resolución de problemas técnicos. Además, valoro la colaboración en equipo y la comunicación efectiva como pilares clave para el éxito en cualquier proyecto.
        <br><br>
        Mi pasión por la tecnología y la innovación me impulsa a mantenerme al tanto de las últimas tendencias en el campo del desarrollo web, con el objetivo de ofrecer soluciones eficientes y de vanguardia. Estoy seguro/a de que mi conocimiento y motivación pueden ser de gran valor para su equipo.
        <br><br>
        Adjunto a esta carta, encontrará mi currículum vitae donde detallo más a fondo mi experiencia académica y habilidades técnicas. Estoy disponible para una entrevista en cualquier momento que le resulte conveniente. Agradezco sinceramente su consideración y espero tener la oportunidad de discutir cómo mi perfil puede contribuir al éxito de [nombre de la empresa].
        <br><br>
        Quedo a su disposición para cualquier información adicional que pueda necesitar.
        <br><br>
        Atentamente,
        <br>
        Ángel Olivares
    </p>
    
    <!-- Enlace para descargar el PDF -->
    <p class="text-center">
        <a href="pdf/CV_Olivares_Angel.pdf" class="btn btn-primary" download>Descargar PDF</a>
    </p>
</div>
{% endblock %}
