{% extends 'base.html.twig' %}
{% block title %}About Me{% endblock %}
{% block body %}


<div class="container container-about">
    <h1 class="text-center my-2">Ángel Olivares Escribano</h1>
        <p>Hola, mi nombre es Ángel Olivares Escribano. Resido en Campo de Criptana, un encantador pueblo en la provincia de Ciudad Real, España.</p>
        
        <h2 class="text-center my-2">Formación Académica</h2>
        <p>He completado mis estudios en Desarrollo de Aplicaciones Web con un Grado Superior. Durante mi formación, adquirí habilidades sólidas en programación y desarrollo web, aprendiendo a trabajar con tecnologías como HTML, CSS, JavaScript, así como frameworks y bases de datos</p>
        
        <h2 class="text-center my-2">Experiencia Profesional</h2>
        <p>Mis estudios me permitieron desarrollar aplicaciones web funcionales y atractivas, siempre con un enfoque en la experiencia del usuario y la eficiencia del código. Realicé prácticas profesionales en Defisoft, donde pude aplicar mis conocimientos en proyectos reales, colaborar con otros desarrolladores y enfrentar desafíos que me ayudaron a crecer profesionalmente.</p>
        
        <h2 class="text-center my-2">Proyectos</h2>
        <p>A lo largo de mi carrera, he trabajado en diversos proyectos, desde la creación de sitios web empresariales hasta el desarrollo de aplicaciones interactivas y sistemas de gestión de contenidos. Cada proyecto me ha brindado la oportunidad de aprender algo nuevo y mejorar mis habilidades técnicas y de resolución de problemas.</p>
        
        <h2 class="text-center my-2">Intereses y Objetivos</h2>
        <p>Mi pasión por la tecnología y el desarrollo web me motiva a seguir aprendiendo y actualizándome constantemente. Estoy interesado en explorar nuevas tecnologías y metodologías que puedan mejorar la eficiencia y la funcionalidad de las aplicaciones que desarrollo.</p>
        
        <p>En el futuro, espero poder contribuir a proyectos innovadores y significativos en el ámbito del desarrollo web. Me gustaría formar parte de un equipo dinámico donde pueda seguir creciendo como profesional y aportar mis conocimientos para crear soluciones efectivas y de alta calidad.</p>
        
        
        <p>Gracias por tu atención.</p>
    
    <!-- Enlace para descargar el PDF -->
    <p class="text-center">
        <a href="pdf/CV_Olivares_Angel.pdf" class="btn btn-primary" download>Descargar PDF</a>
    </p>
</div>
{% endblock %}
