body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-style: normal;
    background: url('/images/background-index3.jpg') no-repeat center center fixed;
}
.titulo h1 {
    font-family: 'Jersey 10', sans-serif;
    width: 100%;
    font-size: 5rem;
    color: #8A2BE2;
    background-color: black;
    text-shadow: 2px 2px #4B0082;
}
.image-container {
    width: 200px; /* Ancho fijo deseado */
    height: 200px; /* Alto fijo deseado */
    overflow: hidden; /* Para recortar la imagen si es más grande */
}

.image-container img {
    width: 100%; /* Para que la imagen ocupe todo el contenedor */
    height: auto; /* Para mantener la proporción de la imagen */
}